<section class="todo-list" ng-controller="TodosController as todos">
  <ul>
    <li ng-repeat="todo in todos.remainingTodos()">
      <input class="checkbox" type="checkbox" ng-model="todo.done" id="todo-{{$index}}">
      <label for="todo-{{$index}}" ng-class="{done: todo.done}">{{ todo.task }}</label>
      <button class="btn btn-delete" ng-click="todos.editTodo($index)">Edit</button>
    </li>
  </ul>

  <form class="add-todo" ng-show="todos.editTodo" ng-submit="todos.addTodo()">
    <input class="text-box" type="text" ng-model="todos.editTodo">
    <input type="submit" class="btn btn-add" value="Update">
  </form>
</section>
