// Place all the styles related to the queens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("http://creativity103.com/collections/GlitterGold/purple_glitter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

nav {
  background-color: white;
}
  ul li {
  display: inline;
  float: right;
  padding: 12px;
  font-weight: 700;
  font-size: 24px;
  }

  .msg {
    float: left;
    color: orchid;
    font-style: italic;
    font-weight: 400;
  }


  a:link {
    color: deeppink;
  }
  a:visited {
    color: deeppink;
  }
  a:hover {
    color: orchid;
  }
  a:active {
    color: lavender;
  }

main {
  padding: 40px;
  text-align: center;
}

h1 {
  padding: 40px;
  text-align: center;
  font-size: 60px;
}

.intro {
  text-align: center;
  padding: 20px;
  font-size: 26px;

}
img {
  border: solid white 10px;
  border-radius: 5px;
  margin: 10px;
}

  thead tr {
    font-weight: 900;
    font-size: 20px;
    height: 60px;
    border-bottom: 1px solid white;
}

table tbody tr {
  max-width: 94%;
  td {
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    min-width: 140px;
    max-width: 250px;
    border-bottom: 1px solid white;
    padding: 10px;
  }
  .link {
    max-width: 50px;
  }
}

.form {
  padding-left: 50px;
  text-align: right;
  p {
    color: red;
  }
}

.actions {
  padding: 10px;
}
