<div class="container">
  <h1>Pig Latin Translator</h1>

  <h2>Eh up, I'm Percy and I'm an expert in Pig Latin</h2>

  <h3>Tell me what you would like to translate</h3>

  <form class="form" action="/translation" method="post">
    <input type="input" name="words" value="">
    <button type="submit" name="button">Submit</button>
  </form>
</div>
