.container {
  padding-top: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.card-text-white {
  color: white;
}

.card-img {
  width: 350px;
}

.card-img-top {
  width: 500px;
}

#register {
  display: inline-block;
  margin: 20px auto 0px auto;
}
