<h1>Hilary Clinton</h1>

<div class="col-sm-4">
  <div class="card">
    <img class="card-img-top" src="http://i.huffpost.com/gen/2695592/images/o-HILARY-COLD-OPEN-facebook.jpg" alt="Clinton experience">
    <div class="card-block">
      <h4 class="card-title">Experience</h4>
      <p class="card-text">Secretary of State<br>
        U.S. Senator<br>
        First Lady of the United States<br>
        First Lady of Arkansas</p>
      <a href="https://www.hillaryclinton.com/about/hillary/" target="_blank" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="card card-inverse">
    <img class="card-img" src="http://www.abc.net.au/news/image/7669038-3x2-940x627.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title">Endorsement</h4>
      <p class="card-text">"I don't think there's ever been someone so qualified to hold this office." <strong>Barack Obama</strong></p>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="card card-inverse">
    <img class="card-img" src="https://i.ytimg.com/vi/dh8GnWpC8HU/maxresdefault.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title">Famous Quote</h4>
      <p class="card-text">"Human rights are women's rights and women's rights are human rights."</p>
    </div>
  </div>
</div>
