<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>How to Vote?</title>
  </head>
  <body>
    <h1>Can't decide how to vote?</h1>
    <p>
      Let us help. Check our information on the two main candidates.
    </p>

    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="http://img.wennermedia.com/social/hillary-clinton-snl-9ab01cfe-d737-45d8-8613-b0b95e78fd78.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Hilary Clinton</h4>
          <a href="/clinton" class="btn btn-primary">More on Hilary</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="http://static.highsnobiety.com/wp-content/uploads/2016/10/16115356/alec-baldwin-donald-trump-snl-01.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Donald Trump</h4>
          <a href="/trump" class="btn btn-primary">More on Donald</a>
        </div>
      </div>
    </div>

  </body>
</html>
