<h1>Donald Trump</h1>

<div class="card-columns">

  <div class="card card-block">
    <h4 class="card-title">Policy</h4>
    <p class="card-text">Begin working on an impenetrable physical wall on the southern border, on day one.</p>
    <a href="https://www.donaldjtrump.com/policies/immigration/" target="_blank" class="card-link">Read more</a>
  </div>

  <div class="card card-inverse">
    <img class="card-img" src="http://www.awardsdaily.com/tv/wp-content/uploads/2015/02/tina-fey-sarah-palin-snl-sketch.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title">Endorsement</h4>
      <p class="card-text-white">Are you ready for a commander-in-chief who will let our warriors do their job and go kick ISIS ass? <strong>Sarah Palin</strong></p>
    </div>
  </div>

  <div class="card card-inverse">
    <img class="card-img" src="http://media.vanityfair.com/photos/57ec25b075f9c0a12314ae1e/master/pass/t-donald-trump-alec-baldwin-snl.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title">Quote</h4>
      <p class="card-text-white">All of the women on The Apprentice flirted with me - consciously or unconsciously. That's to be expected.</p>
    </div>
  </div>

  <div class="card card-inverse">
    <img class="card-img" src="http://media.gettyimages.com/photos/former-heavyweight-world-champion-boxer-mike-tyson-is-led-away-in-picture-id157949137" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title">Endorsement</h4>
      <p class="card-text-white">“We’re the same guy. A thrust for power, a drive for power. Whatever field we’re in, we need power in that field. That’s just who we are.” <strong>Mike Tyson</strong></p>
    </div>
  </div>

  <div class="card card-inverse">
    <img class="card-img" src="http://static.wixstatic.com/media/c07c45_61a2c43deb564d6fa3857650cbe3858f.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title">Quote</h4>
      <p class="card-text-white">I know words, I have the best words. I have the best, but there is no better word than stupid.</p>
    </div>
  </div>

  <div class="card card-block">
    <h4 class="card-title">Policy</h4>
    <p class="card-text">Defend the rights of law-abiding gun owners.</p>
    <a href="https://www.donaldjtrump.com/policies/constitution-and-second-amendment/" target="_blank" class="card-link">Read more</a>
  </div>

</div>
