body {
  background-repeat: no-repeat;
  background-image: cover;
}

.wrapper {
  margin: auto;
  width: 430px;
  height: 430px;
  background: black;
  padding: 20px;
}

.button {
  display: inline-block;
  width: 100px;
  line-height: 100px;
  border: white 2px solid;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: monospace;

}
